body {
    background-color: #ab5c2e; 
  }

  .rectangle {
    width: 50px;
    height: 750px;
    background: rgb(234, 188, 89);
    border-radius: 15px 50px 30px 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    }
  
  .LinktoProfile {
    width: 60px;
    height: 60px;
  }

  .createAccount {
    top: 540px;
  }
  
  .sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }

  .sidebar button {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar button img {
    width: 100%;
    height: auto;
}

/* Example hover effect */
.sidebar button:hover {
    opacity: 0.7;
}

  .createAccount,
  .exploretext:hover {
      text-decoration: none;
      color: rgb(245, 187, 78);
  }