body {
    background-color: #ab5c2e; 
  }

  .sidebar {
    /* color: rgb(236, 204, 136);
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none; */
    /* position: fixed; */
    left: 20px;
  }

  .rectangle {
    width: 50px;
    height: 750px;
    background: rgb(234, 188, 89);
    border-radius: 15px 50px 30px 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    }
  
  .LinktoHome {
    top: 30px;
  }
  
  .LinktoProfile {
    top: 60px;
  }
  
  .LinktoExplore {
    top: 90px;
  }
  
  .LinktoFeed {
    top: 120px;
  }

  .LinktoPost {
    top: 150px;
  }

  .LinktoFAQ {
    top: 180px;
  }

  .LinktoLogin {
    top: 210px;
  }

  .createAccount {
    top: 530px;
  }
  
.createAccount,
.exploretext:hover {
    color: rgb(218, 152, 28);
}

.sidebar:hover {
    background-color: rgb(227, 225, 220);
}