body {
    background-color: #ab5c2e; 
  }
  
  /* title */
  .LoginHeader {
      color: #ffffff;
      font-size: 60px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      display: flex;
      text-align: center;
  }

  .login_items {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
  }