/* background color */
body {
  background-color: #ab5c2e; 
}

/* title */
h1 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    height: 20px;
    margin-top: 170px;
    width: 45%
}

/* subtitle description */
h4 {
    color: rgb(236, 204, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 35%;
    position: fixed;
    top: 280px;
    right: 120px;
}

/* links */
.LinktoHome {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 500px;
  text-decoration: none;
}

.LinktoFeed {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 350px;
  text-decoration: none;
}

.LinktoFAQ {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 200px;
  text-decoration: none;
}

#rectangle {
  width: 50px;
  height: 600px;
  background: rgb(234, 188, 89);
  border-radius: 15px 50px 30px 5px;
  display: block;
}

* {box-sizing:border-box}

.slideshow-container {
  position: fixed;
  top: 160px;
  left: 80px;
}

.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

