* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .account_container {
    background: white;
    width: 500px;
    padding: 4rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9)
  }

  .form{
    margin: 0 2rem;
  }

  .createheader{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0.4rem;
  }

  input {
    color: inherit;
    width: 100%;
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 15px;
    font-size: 15px;
  }

  .input-group {
    padding: 1% 0;
    position: relative;
  }

  .btn[type="submit"] {
    color: #ab5c2e;
    border-color: black;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 8px 0;
    cursor: pointer;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s ease;
}

.btn[type="submit"]:hover {
    color:#ffffff;
    background-color:#ca8963;
  }

  .login_items {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.9s;
  }
  

  a {
    color: rgb(236, 204, 136);
    font-size: 13px;
    text-decoration: none;
    position: fixed;
    top: 20px;
  }

  .back {
    display: flex;
    justify-content: space-around;
    padding:0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
  }

  .loginbutton {
    color: #ab5c2e;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.3s ease;
  }

  .loginbutton:hover {
    color:#ca8963;
  }
