body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.feed-header {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 50px; /* Adjust as needed */
}


.feed-container {
    width: 80%; /* Adjust width as needed */
    max-width: 800px; /* Optional: Set a maximum width */
    background-color: #fff;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
    max-height: 70vh; /* Limit height and enable scrolling */
    margin-top: 20px; /* Adjust margin top as needed */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    border-bottom: 1px solid #ab5c2e; /* Border between posts */
    padding-bottom: 20px; /* Optional: Add padding between posts */
    margin-bottom: 25px; /* Optional: Adjust margin bottom between posts */
}

.post h3 {
    margin-top: 0;
    font-size: 18px;
}

.post p {
    margin-bottom: 5px;
    font-size: 14px;
}
