/* background color */
body {
  background-color: #ab5c2e; 
}

/* title */
h1 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    height: 20px;
    margin-top: 170px;
    width: 45%
}

/* subtitle description */
h4 {
    color: rgb(236, 204, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 35%;
    position: fixed;
    top: 280px;
    right: 120px;
}

/* links */
.LinktoHome {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 500px;
  text-decoration: none;
}

.LinktoFeed {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 350px;
  text-decoration: none;
}

.LinktoFAQ {
  color: rgb(236, 204, 136);
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  top: 20px;
  right: 200px;
  text-decoration: none;
}



